<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--meta name="description" content="A layout example that shows off a responsive pricing table."-->
    <link rel="stylesheet" href="css/pure-release-0.6.0/pure-min.css" />
    <link rel="stylesheet" href="css/pure-release-0.6.0//grids-responsive-min.css" />
    <link rel="stylesheet" href="css/dyjohnsonmain.css" />
</head>
<body>
<div th:fragment="footer" class="footer l-box">
    <p>
        For personal use only
    </p>
</div>
</body>
</html>